name: Python application

on: [push]

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v1
      with:
        python-version: 3.7
    - name: Install dependencies
      shell: pwsh
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        mv patch\cli.py c:\hostedtoolcache\windows\python\3.7.6\x64\lib\site-packages\streamlit -Force
    - name: Test with pytest
      run: |
        pyinstaller streamlitWrapper.py
